@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-primary text-white font-primary;
  }
  html{
    scroll-behavior: smooth;
  }
}

.active{
  @apply border-b-[2px] border-accent text-accent font-bold;
}
.text_outline{
  -webkit-text-stroke: 1px #000;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  @apply bg-primary
}
::-webkit-scrollbar-thumb{
  @apply bg-accent
}
::selection{
  @apply bg-accent text-primary
}
.icons{
  display: none;
}

/* image hover */
.image:hover .icons{
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .image:hover .icons{
    width: 100%;
  }
}